<h1>Compte utilisateur Ndombi</h1>

<p>
    Félicitation ! Ton compte a bien été créé sur Ndombi.
    Tu peux désormais utiliser tes identifiant afin de te connecter à la plateforme.
</p>
<p><span style="text-decoration: underline">Nom d'utilisateur</span> : <b>{{ user }}</b></p>
<p>
    Profites pleinement de nos services à cette adresse : <a target="_blank" href="{{app.request.getSchemeAndHttpHost()}}/application/">{{app.request.getSchemeAndHttpHost()}}/application/</a>
</p>
<p>
    Merci de ta confiance. Nous te souhaitons la meilleure expérience au sein de l'application NDOMBI. Pour toutes questions, utilise l'adresse <a href="contact@ndombi.fr">contact@ndombi.fr</a> .
</p>
<p>A très vite !</p>